.issue-view {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20vh 0;
  .card-style {
    width: 80vw;
    min-height: 100vh;
    padding: 3% 4%;
  }

  .issue-title {
    padding-bottom: 15px;
    h1 {
      position: relative;
      button {
        position: absolute;
        right: 0;
      }
      &::first-letter {
        text-transform: uppercase;
      }
    }
    .issue-title-sub {
      display: flex;
      align-items: center;
      height: 30px;
      font-size: 14px;
      .icon {
        font-size: 20px;
        margin-right: 2px;
      }
    }
  }
  .status {
    margin-right: 8px;
    text-transform: capitalize;
  }
  .markdown-wrapper{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
}
