.issue-view {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20vh 0;
  .card-style {
    width: 90vw;
    min-height: 100vh;
    padding: 3% 4%;
  }

  .issue-title {
    padding-bottom: 15px;
    text-transform: capitalize;
    h1 {
      display: flex;
      justify-content: space-between;
      button {
        display: none;
      }
      &::first-letter {
        text-transform: uppercase;
      }
    }
    .issue-title-sub {
      display: flex;
      align-items: center;
      height: 30px;
      font-size: 14px;
      .icon {
        font-size: 20px;
        margin-right: 2px;
      }
    }
  }
  .status {
    margin-right: 8px;
    text-transform: capitalize;
  }
  .markdown-wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    img {
      max-width: 100%;
    }
  }
  .new-comment-wrapper {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #ccc;
    align-items: flex-start;
    button {
      margin-left: 10px;
    }
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .issue-view {
    .card-style {
      width: 80vw;
    }

    .issue-title {
      h1 {
        button {
          display: block;
        }
      }
    }
  }
}
