<div class="new-issue-container">
  <mat-card class="mat-elevation-z8">
    <h2>New Issue</h2>

    <div class="new-issue-form-wrapper">
      <div class="first">
        <img src="../../../assets/images/bug_fixing.svg" alt="bug fixing" />
      </div>

      <div class="second">
        <form [formGroup]="newIssueForm" (ngSubmit)="onNewIssue()">
          <mat-form-field appearance="fill" class="w-100 mb-2">
            <mat-label>Enter Title</mat-label>
            <input type="text" matInput formControlName="title" />
            <mat-error *ngIf="
                newIssueForm.get('title').touched &&
                newIssueForm.get('title').invalid
              ">
              {{
                this.newIssueForm.get("title").errors.required
                  ? "Title is required."
                  : ""
              }}
            </mat-error>
          </mat-form-field>
          <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>

          <mat-error [ngStyle]="{
              visibility:
                newIssueForm.get('description').touched &&
                newIssueForm.get('description').invalid
                  ? 'visible'
                  : 'hidden',
              'font-size': '10.5px',
              'margin-left': '10px'
            }">
            {{
              this.newIssueForm.get("description") &&
              this.newIssueForm.get("description").errors &&
              this.newIssueForm.get("description").errors.required
                ? "Description is required."
                : "No issue"
            }}
          </mat-error>
          <hr>
          <div class="screenshots">
            <button mat-raised-button color="primary" type="button" (click)="filePicker.click()">
              Attach Screenshots
            </button>
            <input type="file" multiple accept="image/*" #filePicker (change)="onImagePicked($event)" />
          </div>
          <div class="image-preview" *ngIf="imagePreview && imagePreview.length">
            <div class="image-wrapper" *ngFor="let file of imagePreview; let i = index" (click)="removeScreenshot(i)">
              <img [src]="file" />
              <div class="remove-image">
                <mat-icon aria-hidden="false" aria-label="remove screenshot">remove_circle_outline</mat-icon>
              </div>
            </div>
          </div>
          <hr>
          <div style="    margin: 15px 0;">
            <button mat-raised-button color="primary" type="button">
              Assign To?
            </button>
          </div>
          <hr>
          <div class="buttons top-margin">
            <button class="w-100" [disabled]="
                newIssueForm && newIssueForm.touched && newIssueForm.invalid
              " mat-raised-button color="primary" type="submit">
              Create Issue
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>