.color-title{
    cursor:pointer;
    width:25%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .color-title-checked{
        color: white;
        font-size: 50%;
        font-size: 3em;
    }
}