.container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  position: relative;
}
