.change-password-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .side-image {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    svg {
      width: 200px;
      height: 200px;
    }
  }
  .password-inputs {
    flex-basis: 100%;
    .buttons {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

//   Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .change-password-form {
    .side-image {
      flex-basis: 35%;
    }
    .password-inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > div {
        width: 50%;
      }
    }
  }
}

//   Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .change-password-form {
    flex-wrap: nowrap;
    .side-image {
      flex-basis: 35%;
    }
    .password-inputs {
      flex-basis: 65%;
      align-items: flex-start;
      & > div {
        width: 60%;
      }
      .buttons {
        justify-content: flex-start;
      }
    }
  }
}
