.tab-wrapper {
  padding: 5% 1%;

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}



#signin-button{
  > div{
    width:auto !important;
  }
 .abcRioButtonContents{
  display: none;
 }
}