.tab-wrapper {
  padding: 5% 1%;

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.social-login {
  img {
    cursor: pointer;

    &:hover {
      box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1),
        20px 16px 30px 4px rgba(45, 78, 255, 0.15);
      transform: scale(1.1) rotate(-6deg);
      transition-duration: 0.2s;
      transition-timing-function: ease;
    }
  }
}

#signin-button {
  > div {
    width: auto !important;
  }
  .abcRioButtonContents {
    display: none;
  }
}
