.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20vh 0;
  .card-style {
    width: 80vw;
    min-height: 100vh;
    padding: 3% 4%;
    display: flex;
    flex-wrap: nowrap;
    .profile-photo {
      flex-basis: 30%;
      display: flex;
      justify-content: center;
    }
    .user-data {
      flex-basis: 70%;
    }
  }
}
