/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {font-family: Roboto, "Helvetica Neue", sans-serif; }

.center{
    display:flex;
    justify-content: center;
}

.w-100{
	width:100%;
}
.w-50{
	width:50%;
}
.mb-2{
	margin-bottom: 2%;
}
.w-45{
	    width: 45%;
}
.top-margin{
        margin-top: 5%;
}

html, body { min-height: 100vh; overflow-y: auto;
	overflow-x: hidden;}


// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {  }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {  }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {  }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {  }


