.issue-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20vh 0;
  .card-style {
    width: 80vw;
    min-height: 100vh;
    padding: 3% 4%;
  }
  .welcome-to-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 3px solid #ccc;
    border-radius: 5px;
    border-style: dashed;
    .welcome-to {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        margin-bottom: 10px;
      }
      p{
        line-height: 150%;
      }
    }
  }
}
